@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-white-rgba: rgba(255, 255, 255, 0.87);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --blue-shadow: 2px 3px 5px 5px var(--clr-grey-5);
  --max-width: 1170px;
  --fixed-width: 620px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
  text-transform: uppercase;
}
html {
  min-height: 100vh;
  position: relative;
}
body {
  overflow-x: hidden;
  font-family: var(--ff-secondary);
  background-color: var(--clr-grey-6);
  color: var(--clr-white-rgba);
  line-height: 1.5;
  font-size: 0.8rem;
  overflow-y: auto !important;
  min-width: 100%;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--clr-grey-1);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 255);
  z-index: 999;
}
.nav-center {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  color: var(--clr-primary-5);
  font-family: var(--ff-primary);
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}
.nav-links {
  padding-top: 2px;
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
.logo{
  width: 8rem;
  height: 3rem;
}
/*container*/
.container {
  min-height: 100vh;
}
.row{
  padding-top: 6rem;
}
.section1 {
  
}
.title{
  font-size: 2rem;
  color: var(--clr-grey-1);
  text-align: center;
}
.section2{
  padding-bottom: 4rem;
}
.active-cyan input.form-control[type="text"] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.buscar {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.box2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.MovieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: 1fr;
  gap: 1.5rem;
  transition: all 10s ease-out;
  position: relative;
  
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-movie {
  width: 100%;
  height: 380px;
  display: block;
  margin: auto;
  box-shadow:var(--blue-shadow);;
}
.imagen-card {
  min-width: 100%;
  height: 250px;
}
.MovieList:hover .card-movie {
  filter: blur(5px);
  transform: scale(0.7);
}
.MovieList .card-movie:hover {
  filter: blur(0px);
  transform: scale(1.2);
}
.MovieList .card-movie:after {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.5s;
  height: 5px;
}
.MovieList .card-movie:hover:before {
  transform: scaleY(1.15);
  padding: 12px !important;
}
.card-body {
 display: flex;
 flex-direction: column;
 padding: 0.8rem !important;
 margin: 0.5rem;
 justify-content: space-evenly;
}
.card-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  color: var(--clr-black);
}
.card-text {
  text-align: center;
  font-size: 1rem;
  color: var(--clr-grey-2);
  font-weight: bold;
}
/*detail*/
.info_movie {
  margin-top: 30;
  font-size: 8px !important;
}
.info_movie dt {
  clear: left;
  float: left;
  font-weight: 800;
  line-height: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
  font-size: 16px;
  color: black;
}
.info_movie dd {
  line-height: 1.4;
  margin-left: 150px;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}
.advertencia {
  text-align: center;
  font-size: 18px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.error_peli {
  text-align: center;
  font-size: 18px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
}
.notfound-imagen {
  width: 70%;
  height: 70%;
  opacity: 0.3;
  background-size: cover;
}
.notfound-card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20%;
}
.caja-error {
  display: grid;
  place-items: center;
}
.div-mensaje-error {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mensaje-error {
  text-align: center;
  font-weight: 700;
  color: var(--clr-red-dark);
  font-size: 1.5rem;
}
.text-form {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--clr-primary-2);
}
.imagen {
  cursor: pointer;
  box-shadow: var(--dark-shadow);
}
.imagen:hover {
  transform: scale(1.1);
}
star {
  margin-top: -2px;
  margin-left: 5px;
}

/*media query*/
@media screen and (max-width: 568px) {
  .buscar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .Details {
    padding-top: 1rem;
  }
  .section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .section div {
    justify-content: center;
    align-content: center;
  }
  .footer {
    padding-bottom: 1rem;
    justify-content: center;
  }
  .buscar {
  }
  .caja2 {
    padding: 0;
  }
}

/*loader*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}
